%h1 Välj båt för #{@team.race.regatta.name}
.panel.panel-default
  .panel-heading
    3. Nej, båten finns inte här, lägg till den.
  .panel-body    
    = @boat
    = semantic_form_for @team do |f| 
      = f.inputs :name
      = f.semantic_fields_for :boat do |boat|
        = boat.inputs :name, :boat_type_name, :name => "Boat"
      = f.actions

:javascript
  $(document).ready(function() {
  $('#giona-boats').DataTable();
  } );      