= semantic_form_for @team do |f|
  = f.inputs do
    = f.input :race
    = f.input :name
    = f.input :boat_name
    = f.input :boat_class_name
    = f.input :boat_sail_number
    = f.input :start_point
    = f.input :finish_point
    = f.input :start_number
    = #f.input :handicap
    = f.input :plaque_distance
    = f.input :did_not_start
    = f.input :did_not_finish
    = f.input :paid_fee
    = f.input :active

  = f.actions do
    = f.action :submit, :as => :input
