= bootstrap_form_for @team do |f|
  = f.text_field :race
  = f.text_field :name
  = f.text_field :boat_name
  = f.text_field :boat_type_name
  = f.text_field :boat_sail_number
  = f.text_field :start_point
  = f.text_field :finish_point
  = f.text_field :start_number
  = #f.text_field :handicap
  = f.text_field :plaque_distance
  = f.text_field :active

  = f.submit "Spara", class: "btn"
