.panel.panel-default
  .panel-heading
    Seglingen
  .panel-body
    .legend Regatta:
    %p
      %i.fa.fa-trophy(aria-hidden='true')
      =link_to @team.race.regatta.name, @team.race.regatta
    .legend Segling:
    %p
      %i.fa.fa-bell(aria-hidden='true')
      = @team.race.name

    = semantic_form_for @team do |f|
      = f.inputs do
        = f.input :start_point, :as => :radio, :collection => @team.race.start_places
        = f.input :offshore, :as => :radio

      = f.actions do
        = f.action :submit, :as => :input, :input_html => {:class => 'btn', :class => 'btn-group'}

    %br
    = link_to 'Tillbaka', @team, :class => :get_back
