.panel.panel-default
  .panel-heading
    Seglingen
  .panel-body
    .legend Regatta:
    %p
      %i.fa.fa-trophy(aria-hidden='true')
      =link_to @team.race.regatta.name, @team.race.regatta
    .legend Segling:
    %p
      %i.fa.fa-bell(aria-hidden='true')
      = @team.race.name

    = bootstrap_form_for @team do |f|
      = f.collection_radio_buttons :start_point, @team.race.start_places, :last, :first
      = f.collection_radio_buttons :offshore, [[true, "Ja"], [false, "Nej"]], :first, :last
      - if params[:wizard_next].present?
        = hidden_field_tag 'wizard_next', params[:wizard_next]

      - if params[:wizard_next].present?
        = f.submit "Nästa", class: "btn btn-group"
      - else
        = f.submit "Spara", class: "btn btn-group"

    %br
    - if params[:wizard_next].present?
      = link_to 'Avbryt', @team, :class => :get_back
    - else
      = link_to 'Tillbaka', @team, :class => :get_back
