
- if params[:section] == 'race'
  = render 'race'
- elsif params[:section] == 'race_details'
  = render 'race_details'
- elsif params[:section] == 'crew'
  = render 'crew'
- elsif params[:section] == 'boat'
  = render 'boat'
- elsif params[:section] == 'handicap'
  = render 'handicap'
-elsif params[:section] == 'vacancies'
  = render 'vacancies'   
- else

  %h1 Nu blev det fel.
  %p Och det är inte ditt fel. Uppgiften som du precis fyllde i sparades inte. Du får tyvärr göra om det momentet.
  %br
  %p=link_to 'Gå tillbaka till deltagaranmälan.', @team
