
- if params[:section] == 'race'
  = render 'race'
- elsif params[:section] == 'race_details'
  = render 'race_details'
- elsif params[:section] == 'crew'
  = render 'crew'  
- elsif params[:section] == 'boat'
  = render 'boat'    
- else
  = render 'race'