%h1 Listing teams

%table
  %thead
    %tr
      %th Race
      %th External
      %th External system
      %th Name
      %th Boat name
      %th Boat class name
      %th Boat sail number
      %th Start point
      %th Start number
      %th Handicap
      %th Plaque distance
      %th Did not start
      %th Did not finish
      %th Paid fee
      %th Active
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.race_id
        %td= team.external_id
        %td= team.external_system
        %td= team.name
        %td= team.boat_name
        %td= team.boat_class_name
        %td= team.boat_sail_number
        %td= team.start_point
        %td= team.start_number
        %td= team.handicap
        %td= team.plaque_distance
        %td= team.did_not_start
        %td= team.did_not_finish
        %td= team.paid_fee
        %td= team.active
        %td= link_to 'Show', team
        %td= link_to 'Edit', edit_team_path(team)
        %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
