%h1 Dina aktuella deltagaranmälningar

%p
- if current_user
  - if @teams.present?
    .list-group
    - @teams.each do |team|
      %a.list-group-item{:href => team_path(team)}
        %h4.list-group-item-heading
          =team.race.regatta.name
        %p.list-group-item-text
          = team.race.regatta.organizer.name
          %br
          = team.race.name
          %br
          Start:
          = race_start(team.race)
          -unless team.start_point.blank?
            från
            = team.start_point
            = name_by_number(team.race.regatta.terrain, team.start_point)
          %br
          Skeppare:
          = team.skipper.try :name
          - unless team.boat.blank?
            %br
            = team.boat_type_name
            = team.boat_sail_number
            = team.boat_name
          %br
          Startnummer:
          = team.start_number
          %br
          Status på anmälan:
          = team.state_to_s
  - else
    %p
      Du är inte anmäld till någon regatta.
    %p
      = link_to 'Anmäl båt och skeppare ...', races_path, class: 'btn btn-primary'
