%h1 Mitt deltagande

%table#giona-teams.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Arrangör
      %th Regatta
      %th Segling
      %th Båt
      %th Båttyp
      %th Plakettdistans
      %th Öppen
  %tbody
    - @teams.each do |team|
      %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{team_path(team)}';", :style => "cursor: pointer;"}
        %td= team.race.regatta.organizer.name
        %td= team.race.regatta.name
        %td= team.race.period
        %td= team.boat_name
        %td= team.boat_type_name
        %td= team.plaque_distance
        %td= "ja" if team.active

= link_to 'Anmäl båt och skeppare', races_path

:javascript
  $(document).ready(function() {
  $('#giona-teams').DataTable();
  } );  