%h1 Ny deltagaranmälan

- if current_user.person.present?
  - if @race.regatta.people.include? current_user.person
    %p Du är redan anmäld till den här regattan. Gå till deltagaranmälan:
    - @teams.each do |team|
      %a.list-group-item{:href => team_path(team)}
        %h4.list-group-item-heading
          =team.race.regatta.name
        %p.list-group-item-text
          = team.race.regatta.organizer.name
          %br
          = team.race.name
          %br
          Start:
          = race_start(team.race)
          -unless team.start_point.blank?
            från
            = team.start_point
            = name_by_number(team.race.regatta.terrain, team.start_point)
          %br
          Skeppare:
          = team.skipper.try :name
          %br
          = team.boat_type_name
          = team.boat_sail_number
          = team.boat_name
    %br
    %p eller ...
.panel.panel-default
  .panel-heading
    Ny deltagaranmälan
  .panel-body
    .legend Regatta:
    %p
      %i.fa.fa-trophy(aria-hidden='true')
      = @race.regatta.name
    .legend Arrangör:
    %p
      %i.fas.fa-university(aria-hidden='true')
      = @race.regatta.organizer.name
    .legend Segling:
    %p
      %i.fa.fa-bell(aria-hidden='true')
      = race_brief(@race)

    = semantic_form_for @team do |f|
      = f.inputs do
        = f.input :race_id, :as => :hidden
      = f.actions do
        = f.action :submit, :as => :input

    %br
    = link_to 'Tillbaka', :back
