%h1 Ny deltagaranmälan


= semantic_form_for @team do |f|
  = f.inputs do
    = f.input :race, :as => :radio, :collection => @races
  = f.actions do
    = f.action :submit, :as => :input

= link_to 'Back', :back
