%p
  %b Race:
  = @team.race.name
%p
  %b Team Name:
  = @team.name
%p
  %b Boat name:
  = @team.boat_name
%p
  %b Boat class name:
  = @team.boat_class_name
%p
  %b Boat sail number:
  = @team.boat_sail_number
%p
  %b Start point:
  = @team.start_point
%p
  %b Start number:
  = @team.start_number
%p
  %b Handicap:
  = @team.handicap
%p
  %b Plaque distance:
  = @team.plaque_distance
%p
  %b Skipper:

%p
  %b Crew:

%p
  %b Did not start:
  = @team.did_not_start
%p
  %b Did not finish:
  = @team.did_not_finish
%p
  %b Paid fee:
  = @team.paid_fee

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
