%h1 Deltagare

.panel.panel-default
  .panel-heading
    Seglingen
  .panel-body    
    .legend Regatta:
    %p
      %i.fa.fa-trophy(aria-hidden='true')    
      =link_to @team.race.regatta.name, @team.race.regatta  
    .legend Arrangör:
    %p  
      %i.fa.fa-institution(aria-hidden='true')
      = @team.race.regatta.organizer  
    .legend Segling:
    %p  
      %i.fa.fa-bell(aria-hidden='true')
      = @team.race.name      
    .legend Starttid:
    %p  
      %i.fa.fa-clock-o(aria-hidden='true')    
      = race_start(@team.race)
    .legend Seglingsperiod:
    %p
      %i.fa.fa-hourglass-1(aria-hidden='true')    
      = @team.race.period
      timmar
    =link_to 'Ändra', edit_team_path(@team, :section=>:race), class: "btn btn-primary"
    


.panel.panel-default
  .panel-heading
    Seglingsdetaljer
  .panel-body        
    .legend Startplats:
    %p
      %i.fa.fa-flag(aria-hidden='true')
      = @team.start_point
      Rönnskär
    .legend Mål:
    %p
      %i.fa.fa-flag-checkered(aria-hidden='true') 
      = @team.finish_point
      Grönö
    .legend Havs-/kustsegling:
    %p
      %i.fa.fa-exchange(aria-hidden='true')
      - if @team.offshore
        Hav
      - else
        Kust

    =link_to 'Ändra', edit_team_path(@team, :section=>:race_details), class: "btn btn-primary"


.panel.panel-default
  .panel-heading
    Besättningen
  .panel-body
    .legend Skeppare:
    %p
      %i.fa.fa-user-circle(aria-hidden='true') 
      - unless @team.skipper.nil?  
        = link_to(@team.skipper.name, @team.skipper)
        %br
        - unless @team.skipper.phone.blank?
          =@team.skipper.phone  
          %br
        -unless @team.skipper.email.blank?   
          =@team.skipper.email
          %br
        -unless @team.skipper.street.blank?  
          =@team.skipper.street
          %br
        -unless @team.skipper.zip.blank? && @team.skipper.city.blank?  
          #{@team.skipper.zip} #{@team.skipper.city}
          %br
        -unless (@team.skipper.country == 'SE') || (@team.skipper.country == 'Sverige') || @team.skipper.country.blank?
          =I18n.t(@team.skipper.country, :scope => :countries)
      - else
        Saknas. Utse någon av gastarna till skeppare.

    .legend Gastar:
    - unless @team.seamen.empty?  
      %table
        - for person in @team.seamen do 
          %tr
            %td
              %i.fa.fa-user-o(aria-hidden='true') 
              = link_to person.name, person
            %td
              %span.crew_action 
                %i.fa.fa-remove(aria-hidden='true')
                =link_to 'ta bort ur besättningen', teams_remove_seaman_path(:id => @team.id, :person_id => person.id), method: :post, :data => { :confirm => "Är du säker på att du vill ta bort #{person.name} från besättningsllistan?" }
            %td  
              %span.crew_action
                %i.fa.fa-chevron-circle-up(aria-hidden='true') 
                =link_to 'utse till ny skeppare', teams_set_skipper_path(:id => @team.id, :person_id => person.id), method: :post, :data => { :confirm => "Är du säker på att du vill utse #{person.name} till ny skeppare?" }
    - else
      %p         
        %i.fa.fa-user-o(aria-hidden='true')
    %br
    %i.fa.fa-plus(aria-hidden='true')    
    =link_to 'lägg till gast', edit_team_path(@team, :section=>:crew)
    %p    
    .legend Söker gastar:
    %p
      %i.fa.fa-user-secret(aria-hidden='true') 
      -unless @team.vacancies.blank?
        @team.vacancies 
      -else
        Nej

    =link_to 'Ändra', edit_team_path(@team, :section=>:crew), class: "btn btn-primary"


.panel.panel-default
  .panel-heading
    Båten
  .panel-body
    %p
      %i.fa.fa-ship(aria-hidden='true') 
      - if @team.boat.nil?
        %i.fa.fa-plus(aria-hidden='true')    
        =#link_to 'lägg till båt', teams_choose_boat_path(:id => @team.id, :known => true)
        =link_to 'lägg till båt', edit_team_path(@team, :section=>:boat)
      -else
        = link_to "#{@team.boat.name} | #{@team.boat.boat_type_name} | Segelnummer: #{@team.boat.sail_number}", @team.boat
        %i.fa.fa-remove(aria-hidden='true')
        =link_to 'ta bort båten', teams_remove_boat_path(:id => @team.id), method: :post, :data => {:confirm => "Är du säker på att du vill ta bort båten #{@team.boat.name} från deltagaranmälan?"}

    .legend Startnummer:
    %p
      %i.fa.fa-file-text-o(aria-hidden='true') 
      = @team.start_number        
    .legend Handikapp:
    %p
      %i.fa.fa-calculator(aria-hidden='true')
      - unless @team.handicap.nil?    
        = @team.handicap.handicap
        för
        = @team.handicap.name
        enligt 
        = @team.handicap.source

    =link_to 'Ändra', edit_team_path(@team, :section=>:boat), class: "btn btn-primary"

.panel.panel-default
  .panel-heading
    Resultat
  .panel-body
    .legend Status:
    %p
      %i.fa.fa-file(aria-hidden='true') 
      -if @team.active
        Aktiv
      -else
        Arkiverad
    .legend Plakettdistans:
    %p
      %i.fa.fa-trophy(aria-hidden='true') 
      = @team.plaque_distance unless @team.plaque_distance.nil?
      M.
    - if @team.did_not_start
      Startade inte. 
    - if @team.did_not_finish
      Fullföljde inte.