%h1 Deltagaranmälan/loggbok

.panel.panel-default
  .panel-heading
    Seglingen
  .panel-body    
    Regatta:
    %p
      %i.fa.fa-trophy(aria-hidden='true')    
      =link_to @team.race.regatta.name, @team.race.regatta  
    Arrangör:
    %p  
      %i.fa.fa-university(aria-hidden='true')
      = @team.race.regatta.organizer  
    Segling:
    %p  
      %i.fa.fa-bell(aria-hidden='true')
      = @team.race.name  
    Start:
    %p  
      %i.fa.fa-clock-o(aria-hidden='true')    
      = race_start(@team.race)
    %p
      %i.fa.fa-flag(aria-hidden='true')
      = @team.start_point
      Rönnskär
    Seglingsperiod:
    %p
      %i.fa.fa-hourglass-1(aria-hidden='true')    
      = @team.race.period
      timmar
    Mål:
    %p
      %i.fa.fa-flag-checkered(aria-hidden='true') 
      = @team.finish_point
      Grönö

.panel.panel-default
  .panel-heading
    Båten
  .panel-body
    %p
      %i.fa.fa-ship(aria-hidden='true') 
      - unless @team.boat.nil?
        = link_to @team.boat_class_name, @team.boat.boat_class
      - else
        = @team.boat_class_name
      = @team.boat_sail_number
      |
      - unless @team.boat.nil?
        = link_to @team.boat_name, @team.boat
      - else
        = @team.boat_name
    Startnummer:
    %p
      %i.fa.fa-file-text-o(aria-hidden='true') 
      = @team.start_number        
    Handikapp:
    %p
      %i.fa.fa-calculator(aria-hidden='true')    
      = @team.handicap
      enligt SRS-tabell


.panel.panel-default
  .panel-heading
    Besättningen
  .panel-body
    Skeppare:
    %p
      %i.fa.fa-user-circle(aria-hidden='true') 
      - unless @team.skipper.nil?  
        = link_to(@team.skipper.name, @team.skipper) 

    - unless @team.seamen.empty?  
      Gastar:
      %ul
        - for person in @team.seamen do 
          %li
            %i.fa.fa-user-o(aria-hidden='true') 
            = link_to person.name, person
    Söker gastar:
    %p
      %i.fa.fa-user-secret(aria-hidden='true') 
      Tre



%p
  %b Status, är aktiv:
  = @team.active
     

%p
  %b Resultat:
  Plakettdistans
  = @team.plaque_distance unless @team.plaque_distance.nil?
  M.
  - if @team.did_not_start
    Startade inte. 
  - if @team.did_not_finish
    Fullföljde inte.

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
