
= semantic_form_for @person do |f|
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    - if current_user
      - if current_user.person == @person
        = f.input :email, :input_html => { :readonly => true }
      - else
        = f.input :email

    = f.input :phone
    = f.input :birthday, :start_year => Date.today.year-100, :end_year => Date.today.year
    = f.input :co
    = f.input :street
    = f.input :zip
    = f.input :city
    = f.input :country, :priority_countries => ["Sweden", "Denmark", "Finland", "Luxembourg", "Norway", "Poland", "Germany" ]

    Jag godkänner användaravtalet.
    %p= @agreement.name
    %p= @agreement.description
    %p Publicerad
    %p= I18n.l(@agreement.created_at, :normal)
  = f.actions do
    = f.action :submit, :as => :button

= hidden_field_tag :add_me
