%h1 Ändra Kontaktuppgifter

= bootstrap_form_for @person do |f|
  = f.text_field :first_name
  = f.text_field :last_name
  - if current_user
    - if has_assistant_rights?
      = f.email_field :email
    - else
      = f.email_field :email, :input_html => { :readonly => true }

  = f.text_field :phone
  = f.date_select :birthday, :start_year => Date.today.year-100, :end_year => Date.today.year
  = f.text_field :co
  = f.text_field :street
  = f.text_field :zip
  = f.text_field :city
  - # Not optimal - country_select isn't recognized by bootstrap_form, so it lopks a bit ugly
  %label Land *
  %br
  = f.country_select :country, priority_countries: ["Sweden"]
  %p
  = f.submit "Spara kontaktuppgifter och godkänn användaravtalet", class: "btn"

= hidden_field_tag :add_me
%p
%br
= link_to 'Ångra', :back
