.row
.col-lg-12
%h1 Personer
%p
  = link_to( 'Ny person', new_person_path ) if user_signed_in?

.panel.panel-default
  .panel-heading
    Personer
  / /.panel-heading
  .panel-body
    %table#giona-people.table.table-striped.table-bordered.table-hover{:width => "100%"}
      %thead
        %tr
          %th Efternamn
          %th Förnamn
          %th Postort
          %th Födelsedatum
          %th Regattor
      %tbody
        -if user_signed_in?
          - @people.each do |person|
            %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{person_path(person)}';", :style => "cursor: pointer;"}
              %td= person.last_name
              %td= person.first_name
              %td= person.zip + ' ' + person.city
              %td= person.birthday
              %td= person.crew_members.count
        - else
          - @people.each do |person|
            %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{person_path(person)}';", :style => "cursor: pointer;"}
              %td= person.last_name
              %td= person.first_name
              %td= person.city
              %td YYYY-MM-DD
              %td= person.crew_members.count
  :javascript
    $(document).ready(function() {
    $('#giona-people').DataTable();
    } );  