%h1 Deltagare
%p
  - if current_user
    - if has_assistant_rights?
      = link_to new_person_path, class: 'btn btn-primary' do
        %i.fa.fa-user-plus.fa-fw(aria-hidden='true')
        Lägg till deltagare


%table#giona-people.table.table-striped.table-bordered.table-hover{:width => "100%"}
  - if has_assistant_rights?
    %thead
      %tr
        %th Efternamn
        %th Förnamn
        %th Postort
        %th Födelsedatum
    %tbody
      - @people.each do |person|
        %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{person_path(person)}';", :style => "cursor: pointer;"}
          %td= person.last_name
          %td= person.first_name
          %td
            = person.zip
            = person.city
          %td= person.birthday
  - else
    %thead
      %tr
        %th Efternamn
        %th Förnamn
        %th Postort
    %tbody
      - @people.each do |person|
        %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{person_path(person)}';", :style => "cursor: pointer;"}
          %td= person.last_name
          %td= person.first_name
          %td= person.city
  :javascript
    $(document).ready(function() {
    $('#giona-people').DataTable();
    } );
