%h1 L채gg in kontaktuppgifter
%p Uppgifter med aterisk (*) 채r obligatoriska.

= semantic_form_for @person do |f|
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    - if current_user
      - if has_assistant_rights?
        = f.input :email
      - else
        = f.input :email, :input_html => { :readonly => true }
    = f.input :phone
    = f.input :birthday, :start_year => Date.today.year-100, :end_year => Date.today.year
    = f.input :co
    = f.input :street
    = f.input :zip
    = f.input :city
    = f.input :country, :priority_countries => ["Sweden", "Denmark", "Finland", "Luxembourg", "Norway", "Poland", "Germany" ]

    Jag godk채nner anv채ndaravtalet:
    %p
      = @agreement.name + ', publicerad:'
      = I18n.l(@agreement.created_at, format: :normal)
    = simple_format @agreement.description
  = f.actions do
    = f.action :submit, :as => :button

= hidden_field_tag :add_me
= hidden_field_tag :agreement
