.panel.panel-default
  .panel-heading
    %i.fa.fa-user-o(aria-hidden='true')
    =@person.name
  .panel-body
    %p
      =@person.first_name
      =@person.last_name
    %p
      -if authorized?
        = @person.email
        %br
        = @person.phone
        %p
        -unless @person.co.blank?
          c/o
          =@person.co
          %br
        =@person.street
        %br
        =@person.zip
      =@person.city
      %br
      = I18n.t("countries.#{@person.country}")
      %p
        -if authorized?
          %p
            Födelsedatum:
            =@person.birthday
          %p
          - if @person.user
            %p
              = (t("role.#{user_role @person}")).titleize + ':'
              = link_to @person.user.email, @person.user


    %p
      - if authorized? || has_assistant_rights?
        = link_to 'Redigera', edit_person_path(@person), class: "btn btn-primary"
    %p
      - if has_admin_rights?
        = link_to 'Radera', @person, :method => :delete, :data => { :confirm => "Vill du plocka bort #{@person.name}?" }
    %p Bekräftade användaravtal:
    - for consent in @person.consents.reverse
      %ol= link_to "#{consent.agreement.name}, godkänd #{I18n.l(consent.created_at, format: :normal)}", agreement_path(id: consent.agreement.id)

    - if current_user
      - if has_assistant_rights?
        %p
          Finns i externt system
          %i= @person.try :external_system
          med id:
          %i= @person.try :external_id
        %p
          Kvalitetsgranska:
          - if @person.try :review
            ja
          -else
            nej
