%h1=@person.name

%p
  %b Förnamn:
  = @person.first_name
%p
  %b Efternamn:
  = @person.last_name

- if user_signed_in?   
  %p
    %b c/o:
    = @person.co
  %p
    %b Gata:
    = @person.street
  %p
    %b Postnummer:
    = @person.zip

%p
  %b Postort:
  = @person.city
%p
  %b Land:
  = @person.country  
- if user_signed_in?
  %p
    %b Mejladress:
    = @person.email
  %p
    %b Födelsedatum:
    = @person.birthday
  %p
    %b Telefonnummer:
    = @person.phone
  %p
    %b Finns i extert system:
    = @person.external_system
  %p
    %b Id i externt system:
    = @person.external_id

  %p
    %b Användarkonto:
    = user_role @person

  %p
    %b Granska:
    = @person.review

%p
  %b Regattor:
  %ul
    - for team in @person.teams
      %li= link_to team_in_regatta(team), team 

%p
  = link_to 'Redigera', edit_person_path(@person)

  - if @person.deleted_at.present?
    = link_to 'Radera för alltid', @person, :method => :delete, :data => { :confirm => 'Är du verkligen verkligen säker?' }
    = link_to 'Återvinn', recover_person_path(@person)  
  - else 
    = link_to 'Radera', @person, :method => :delete, :data => { :confirm => 'Vill du plocka bort personen?' }

= link_to 'Tillbaka', people_path