.panel.panel-default
  .panel-heading
    %i.fa.fa-user-o(aria-hidden='true')
    =@person.name
  .panel-body
    %p
      =@person.first_name
      =@person.last_name
    %p
      -if authorized?
        = @person.email
        %br
        = @person.phone
        %p
        -unless @person.co.blank?
          c/o
          =@person.co
          %br
        =@person.street
        %br
        =@person.zip
      =@person.city
      %br
      =@person.country
      %p
        -if authorized?

          %p
            Födelsedatum:
            =@person.birthday
          %p
          - if @person.user
            %p
              = (t("role.#{user_role @person}")).titleize + ':'
              = link_to @person.user.email, @person.user

          - if has_assistant_rights?
            %p
              Finns i externt system
              %i= @person.external_system
              med id:
              %i= @person.external_id
            %p
              Kvalitetsgranska:
              - if @person.review
                ja
              -else
                nej

    %p
      - if authorized?
        = link_to 'Redigera', edit_person_path(@person), class: "btn btn-primary"
    %p

      = link_to 'Radera', @person, :method => :delete, :data => { :confirm => "Vill du plocka bort #{@person.name}?" }
    %p
      %br
      = link_to 'Tillbaka', :back

= link_to 'Anmäl båt och skeppare', races_path

:javascript
  $(document).ready(function() {
  $('#giona-teams').DataTable();
  } );
