%h1 Alla båttyper/handikapp


.panel.panel-default
  .panel-heading
    Båttyper
  / /.panel-heading
  .panel-body
    %table#giona-boat_types.table.table-striped.table-bordered.table-hover{:width => "100%"}
      %thead
        %tr
          %th Namn
          %th SXK
          %th Källa
          %th Ref.
          %th Båtnamn
          %th Segelnr
          %th Ägare
          %th SRS
          %th Gäller t.o.m.

      %tbody
        - @boat_types.each do |boat_type|
          %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{boat_type_path(boat_type)}';", :style => "cursor: pointer;"}
            %td= boat_type.name
            %td= boat_type.handicap
            %td= boat_type.source
            %td= boat_type.registry_id
            %td= boat_type.boat_name
            %td= boat_type.sail_number
            %td= boat_type.owner_name
            %td= boat_type.srs
            %td= I18n.l(boat_type.best_before, format: :day) unless boat_type.best_before.nil?


:javascript
  $(document).ready(function() {
  $('#giona-boat_types').DataTable();
  } );  