%h1 
  %i.fa.fa-ship.fa-fw
  = @boat_type.name
%p
  %b SXK-tal:
  = @boat_type.handicap
%p
  %b Gäller till:
  = @boat_type.best_before
%p
  %b Datakälla:
  = @boat_type.source
%p
  %b SRS-tal:
  = @boat_type.srs
%p
  %b Reg.nr:
  = @boat_type.registry_id
%p
  %b Segelnummer:
  = @boat_type.sail_number
%p
  %b Båtnamn:
  = @boat_type.boat_name
%p
  %b Ägare:
  = @boat_type.owner_name
%p
  %b Från externt system:
  = @boat_type.external_system
%p
  %b Externt id:
  = @boat_type.external_id
%p
  %b Typ:
  = @boat_type.type



= link_to 'Edit', edit_boat_path(@boat_type)
\|
= link_to 'Back', boats_path
