= semantic_form_for @regatta do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :organizer, input_html: { disabled: true }
    = f.input :organizer_id, :as => :hidden
    = f.input :web_page
    = f.input :email_from
    = f.input :name_from
    = f.input :email_to
    = f.input :confirmation
    = f.input :terrain, :collection => Terrain.select_terrain
    = f.input :active, :as => :boolean

  = f.actions do
    = f.action :submit, :as => :input
    = f.action :cancel, :as => :link
%p
%br
