= bootstrap_form_for @regatta do |f|
  = f.text_field :name
  = f.text_field :description
  = f.text_field :organizer, :disabled => true, :value => @regatta.organizer.name
  = f.hidden_field :organizer_id
  = f.text_field :web_page
  = f.email_field :email_from
  = f.text_field :name_from
  = f.text_field :email_to
  = f.text_field :confirmation
  = f.select :terrain_id, Terrain.select_terrain
  = f.check_box :active

  = f.submit "Spara", class: "btn"



%p
%br
