.row
.col-lg-12
%h1 Regattor
%p
  - if has_officer_rights?
    = link_to 'Skapa ny regatta', new_regatta_path, class: 'btn btn-primary'
%p
  - if params[:is_active] == 'true'
    Visar regattor som är öppna för anmälan och ändringar.
    %p= link_to 'Visa arkiverade regattor.', regattas_path(:is_active => false)
  - elsif params[:is_active] == 'false'
    Visar regattor som är arkiverade.
    =link_to 'Visa öppna regattor.', regattas_path(:is_active => true)
  - else
    =link_to 'Visa arkiverade regattor.', regattas_path(:is_active => false)
    =link_to 'Visa öppna regattor.', regattas_path(:is_active => true)


%table#giona-regattas.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Arrangör
      %th Regatta
      %th Perioder
      %th En starttid
      %th Öppen
  %tbody
    - @regattas.each do |regatta|
      %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{regatta_path(regatta)}';", :style => "cursor: pointer;"}
        %td= regatta.organizer.name
        %td= regatta.name
        %td
          - for race in regatta.races
            = race.period
        %td
          - if regatta.races.count > 0
            = l(regatta.races.first.start_from, format: "%Y-%m-%d %H:%M:%S")
        %td= "ja" if regatta.active

:javascript
  $(document).ready(function() {
  $('#giona-regattas').DataTable();
  } );
