.panel.panel-default
  .panel-heading
    %i.fa.fa-trophy(aria-hidden='true')
    = @regatta.name
  .panel-body
    %p
    = simple_format @regatta.description
    %p
    .legend Arrangör:
    %p
      %i.fas.fa-university(aria-hidden='true')
      = link_to @regatta.organizer.name, @regatta.organizer

    .legend Seglingar:
    %ul
      - for race in @regatta.races.order :period
        %li
          %i.fa.fa-bell(aria-hidden='true')
          = link_to race_brief(race), race

    .legend Öppen för anmälningar och ändringar:
    %p
      %i.fas.fa-calendar-check(aria-hidden='true')
      -if @regatta.active
        ja
      - else
        %i.fa.fa-calendar-minus-o(aria-hidden='true')
        nej

    .legend Regattans webbsida:
    %p
      %i.fas.fa-globe(aria-hidden='true')
      =link_to( @regatta.web_page, @regatta.web_page ) unless @regatta.web_page.blank?


    .legend Kontaktperson:
    %p
      %i.fas.fa-address-card(aria-hidden='true')
      = mail_to @regatta.email_from, "#{@regatta.name_from} #{'<'}#{@regatta.email_from}#{'>'}"

    .legend Listor och rapporter:
    %p
      %i.far.fa-file-alt(aria-hidden='true')
      = link_to 'Startlista (direkt uppdaterad av deltagarna)', start_list_regatta_path(@regatta)

    - if has_assistant_rights?
      %p
        %i.far.fa-file-alt(aria-hidden='true')
        = link_to 'Mejladresser till alla deltagare', email_list_regatta_path(@regatta)
      %p
        %i.fas.fa-file-excel(aria-hidden='true')
        = link_to "Anmälningsrapport (xlsx)", regatta_path(@regatta, format: "xlsx")



    - if has_assistant_rights?
      .legend Version av Punkt- & distanstabell:
      %p
        %i.fas.fa-map(aria-hidden='true')
        = @regatta.terrain.name

      .legend Informera dessa funktionärer:
      %p
        %i.fa.fa-users(aria-hidden='true')
        = @regatta.email_to


      .legend Text i de mejl* som skickas ut till deltagare:
      .list-group-item
        %p.list-group-item-text
        = simple_format @regatta.confirmation
      %br
      %p
        *) Mejl skickas när skepparen skapar anmälan, lägger till gast, skickar in anmälan och när arrangören godkänner anmälan. I mejlen finns generell information om status på ansökan och länkar. Till det läggs den text som du formulerar här.

      %p


    - if has_officer_rights?
      %p
      .legend Länk för att anmäla sig till regattan:
      %p
        %i.fas.fa-globe(aria-hidden='true')
        =link_to( races_url(:from_regatta => @regatta.id), races_url(:from_regatta => @regatta.id) )

      %p
        %br
      =link_to 'Ändra', edit_regatta_path(@regatta), class: "btn btn-primary"

      %p
        %br
      %p= link_to 'Radera', @regatta, :method => :delete, :data => { :confirm => "Vill du radera #{@regatta.name}?" }

      .legend Lägg till en segling:
      %ul
        - for period in Race.periods
          %li
            %i.fa.fa-bell(aria-hidden='true')
            = link_to "Period: #{period}", new_race_path(:regatta_id => @regatta.id, :period => period)

%h2 Anmälda

%table#giona-teams.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Segling
      %th Starttid
      %th Startnr
      %th Startplats
      %th Skeppare
      %th Båt
      %th Båttyp
      %th Söker gast
      - if has_assistant_rights?
        %th Status
  %tbody
    - @teams.each do |team|
      %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{team_path(team)}';", :style => "cursor: pointer;"}
        %td= team.race.name
        %td= race_start(team.race, true)
        %td= team.start_number
        %td= team.start_point
        %td= team.skipper.name unless team.skipper.nil?
        %td= team.boat_name
        %td= team.boat_type_name
        %td= "ja" unless team.vacancies.blank?
        - if has_assistant_rights?
          %td= team.state_to_s


:javascript
  $(document).ready(function() {
  $('#giona-teams').DataTable({
  order: [[1, "asc"]],
  paging: false,
  language: {
          processing:     "Jobbar ...",
          search:         "Sök:",
          lengthMenu:     "Visa _MENU_ rader",
          info:           "Visar rad _START_ till _END_ av _TOTAL_",
          infoPostFix:    "",
          loadingRecords: "Laddar urval ...",
          zeroRecords:    "Det finns inget som passar urvalet.",
          emptyTable:     "Tabellen är tom.",
          paginate: {
              first:      "Första",
              previous:   "Förra",
              next:       "Nästa",
              last:       "Sista"
          },
          aria: {
              sortAscending:  ": sortera på den här kolumnen",
              sortDescending: ": omvänd sortering på den här kolumnen"
          }
      }

  });
  })
