%h1
  = @regatta.name
%p
  %b Arrangör:
  = @regatta.organizer

%p
  %b Status, är aktiv:
  = @regatta.active

%p
  %b Seglingar:
%ul
  - @regatta.races.each do |race|
    %li  
      =link_to race.name, race

%p
  %b Kontaktperson: 
  = @regatta.name_from + ' <' + @regatta.email_from + '>'

- if current_user
  %p
    %b Informera om anmälan:
    = @regatta.email_to

  %p
    %b Anmälningsmejl:
    = @regatta.confirmation

  %p
    %b **Admin** Lägg till en segling:
    %ul 
      %li=link_to "Period: 12", new_race_path(:regatta_id => @regatta.id, :period => '12')  
      %li=link_to "Period: 24", new_race_path(:regatta_id => @regatta.id, :period => '24')  
      %li=link_to "Period: 48", new_race_path(:regatta_id => @regatta.id, :period => '48')  
      %li=link_to "Period: 72", new_race_path(:regatta_id => @regatta.id, :period => '72')  
      %li=link_to "Period: 96", new_race_path(:regatta_id => @regatta.id, :period => '96')  
      %li=link_to "Period: 120", new_race_path(:regatta_id => @regatta.id, :period => '120')  


.panel.panel-default
  .panel-heading
    Deltagare
  / /.panel-heading
  .panel-body
    %table#giona-teams.table.table-striped.table-bordered.table-hover{:width => "100%"}
      %thead
        %tr
          %th Segling
          %th Nr
          %th Start
          %th Båt
          %th Typ
          %th Segelnr
          %th Handikapp
          %th Skeppare
      %tbody
        - @regatta.teams.each do |team|
          %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{team_path(team)}';", :style => "cursor: pointer;"}
            %td= team.race.period
            %td= team.start_number
            %td= team.start_point
            %td= team.boat_name
            %td= team.boat_class_name
            %td= team.boat_sail_number
            %td= team.handicap
            %td= team.skipper.name unless team.skipper.nil?



%p= link_to 'Redigera', edit_regatta_path(@regatta)

:javascript
  $(document).ready(function() {
  $('#giona-races').DataTable();
  $('#giona-teams').DataTable();
  } );    