%h1 Alla b책ttyper

= link_to 'L채gg in en ny b책ttyp', new_boat_class_path

.panel.panel-default
  .panel-heading
    B책tar
  / /.panel-heading
  .panel-body
    %table#giona-boat_classes.table.table-striped.table-bordered.table-hover{:width => "100%"}
      %thead
        %tr
          %th Name
          %th Handicap
          %th Antal
      %tbody
        - @boat_classes.each do |boat_class|
          %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{boat_class_path(boat_class)}';", :style => "cursor: pointer;"}
            %td= boat_class.name
            %td= boat_class.handicap
            %td= boat_class.boats.count


:javascript
  $(document).ready(function() {
  $('#giona-boat_classes').DataTable();
  } );  