%h1
  = @boat_class.name
%p
  %b Handikapp:
  = number_with_precision(@boat_class.handicap, precision: 3)
%p
  %b Båtar:
  %ul
    - for boat in @boat_class.boats
      %li= link_to boat_brief(boat), boat

= link_to 'Edit', edit_boat_class_path(@boat_class)
\|
= link_to 'Back', boat_classes_path
