%p#notice= notice

%p
  %b Organizer:
  = @start_place.organizer_id
%p
  %b Number:
  = @start_place.number

= link_to 'Edit', edit_start_place_path(@start_place)
\|
= link_to 'Back', start_places_path
