%p
  %b Arrangör:
  =@race.regatta.organizer.name unless @race.regatta.nil?
= semantic_form_for @race do |f|
  = f.inputs do
    = f.input :regatta, input_html: { disabled: true }
    = f.input :description
    = f.input :start_from, :as => :string
    = f.input :start_to, :as => :string
    = f.input :period, :as => :radio, :collection => Race.periods

    .check_boxes.input.optional.form-group#race_starts_input
      %span.form-label
        %label.control-label
          Startplatser
      %span.form-wrapper
        %input#race_starts_none{:type => "hidden", :name => "race[starts][]", :value => ""}
        - for start in @race.regatta.organizer.default_starts
          .checkbox
            %label.choice{:for => "race_starts_#{start.number}"}
              - if @race.starts.include? start.number.to_s
                %input{:id => "race_starts_#{start.number}", :type => :checkbox, :checked => true, :name => 'race[starts][]', :value =>"#{start.number}"}
              - else
                %input{:id => "race_starts_#{start.number}", :type => :checkbox, :name => 'race[starts][]', :value =>"#{start.number}"}
              = "#{start.number} #{name_by_number @race.regatta.terrain, start.number.to_i}"



    = f.input :common_finish, :as => :select, :collection => @race.finish_places, :include_blank => false, :label => 'Målgång'
    = f.input :regatta_id, :as => :hidden

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link


:javascript
  $(function () {
  $('#race_start_from').datetimepicker({
  icons: {
    time: 'fa fa-clock-o',
    date: 'fa fa-calendar',
    up: 'fa fa-arrow-up',
    down: 'fa fa-arrow-down',
    previous: 'fa fa-arrow-left',
    next: 'fa fa-arrow-right',
    today: 'fa fa-calendar-check-o',
    clear: 'fa fa-eraser',
    close: 'fa fa-close'
    },
  locale: 'sv',
  sideBySide: true
  });
  $('#race_start_to').datetimepicker({
  icons: {
    time: 'fa fa-clock-o',
    date: 'fa fa-calendar',
    up: 'fa fa-arrow-up',
    down: 'fa fa-arrow-down',
    previous: 'fa fa-arrow-left',
    next: 'fa fa-arrow-right',
    today: 'fa fa-calendar-check-o',
    clear: 'fa fa-eraser',
    close: 'fa fa-close'
    },
  locale: 'sv',
  sideBySide: true
  });
  });
