%h1="#{@race.period} - #{@race.regatta.name}"

%p
  %b Regatta:
  = link_to( @race.regatta.name, @race.regatta ) unless @race.regatta.nil?

%p
  %b Startperiod:
  från
  = l @race.start_from
  till
  = l @race.start_to
%p
  %b Seglingsperiod:
  = @race.period
%p
  %b Gemensam målgång:
  = @race.common_finish
- if @race.common_finish
  %p
    %b Gemansamma målgången är obligatorisk:
    = @race.mandatory_common_finish

.panel.panel-default
  .panel-heading
    Deltagare
  / /.panel-heading
  .panel-body
    %table#giona-teams.table.table-striped.table-bordered.table-hover{:width => "100%"}
      %thead
        %tr
          %th Nr
          %th Start
          %th Båt
          %th Typ
          %th Segelnr
          %th Handikapp
          %th Skeppare
      %tbody
        - @race.teams.each do |team|
          %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{team_path(team)}';", :style => "cursor: pointer;"}
            %td= team.start_number
            %td= team.start_point
            %td= team.boat_name
            %td= team.boat_class_name
            %td= team.boat_sail_number
            %td= team.handicap
            %td= team.skipper.name


%p
  = link_to 'Redigera', edit_race_path(@race)

:javascript
  $(document).ready(function() {
  $('#giona-teams').DataTable();
  } );    