.panel.panel-default
  .panel-heading
    %i.fa.fa-bell(aria-hidden='true')
    Segling
  .panel-body
    .legend Arrangör:
    %p
      %i.fa.fa-institution(aria-hidden='true')
      =link_to @race.regatta.organizer.name, @race.regatta.organizer
    .legend Regatta
    %p
      %i.fa.fa-trophy(aria-hidden='true')
      = link_to( @race.regatta.name, @race.regatta ) unless @race.regatta.nil?
    - unless @race.description.blank?
      .legend Beskrivning:
      %p
        %i.fa.fa-bell(aria-hidden='true')
        = @race.description
    .legend Starttid:
    %p
      %i.fa.fa-clock-o(aria-hidden='true')
      = race_start(@race)
    .legend Seglingsperiod:
    %p
      %i.fa.fa-hourglass-1(aria-hidden='true')
      = @race.period
      timmar
    .legend Start:
    %p
      - unless @race.starts.blank?
        %ul
          - for start in @race.starts
            - unless start.blank?
              %li
                %i.fa.fa-flag(aria-hidden='true')
                = start
                = name_by_number @race.regatta.terrain, start.to_i

    .legend Målgång:
    %p
      %i.fa.fa-flag-checkered(aria-hidden='true')
      - if @finish.blank?
        Vid startplatsen
      - else
        = @finish.last.number
        = @finish.last.name

    - if has_organizer_rights?
      %p
        %br
      =link_to 'Ändra', edit_race_path(@race), class: "btn btn-primary"

      %p
        %br
      %p= link_to 'Radera', @race, :method => :delete, :data => { :confirm => "Vill du radera seglingen?" }



%table#giona-teams.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Startnr
      %th Startplats
      %th Båt
      %th Typ
      %th Segelnr
      %th Handikapp
      %th Skeppare
  %tbody
    - @race.teams.each do |team|
      %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{team_path(team)}';", :style => "cursor: pointer;"}
        %td= team.start_number
        %td= team.start_point
        %td= team.boat_name
        %td= team.boat_type_name
        %td= team.boat_sail_number
        %td= team.handicap.handicap unless team.handicap.blank?
        %td= team.skipper.name unless team.skipper.blank?


:javascript
  $(document).ready(function() {
  $('#giona-teams').DataTable();
  } );
