%h1="#{@race.period} - #{@race.regatta.name}"

%p
  %b Regatta:
  = link_to( @race.regatta.name, @race.regatta ) unless @race.regatta.nil?

%p
  %b Starta från:
  = l @race.start_from
%p
  %b Starta till:
  = l @race.start_to
%p
  %b Period:
  = @race.period
%p
  %b Gemensam målgång:
  = @race.common_finish
- if @race.common_finish
  %p
    %b Gemansamma målgången är obligatorisk:
    = @race.mandatory_common_finish

%p
  = link_to 'Redigera', edit_race_path(@race)
