= semantic_form_for @organizer do |f|
  = f.inputs do
    = f.input :name
    = f.input :email_from
    = f.input :name_from
    = f.input :email_to
    = f.input :web_page
    = f.input :confirmation
    - if has_admin_rights?
      = f.input :external_id

  = f.actions do
    = f.action :submit, :as => :input
