= bootstrap_form_for @organizer do |f|
  = f.text_field :name
  = f.text_field :email_from
  = f.text_field :name_from
  = f.text_field :email_to
  = f.text_field :web_page
  = f.text_area :confirmation
  - if has_admin_rights?
    = f.text_field :external_id

  = f.submit "Spara", class: "btn"
