.panel.panel-default
  .panel-heading
    %i.fa.fa-institution(aria-hidden='true')
    = @organizer.name
  .panel-body
    .legend Kontaktperson:
    %p
      %i.fa.fa-vcard-o(aria-hidden='true')
      =@organizer.name_from
      <
      =@organizer.email_from
      >

    - if has_assistant_rights?
      .legend Informera dessa funktionärer:
      %p
        %i.fa.fa-users(aria-hidden='true')
        = @organizer.email_to
      .legend Text i bekräftelsen på anmälan:
      %p
        = @organizer.confirmation
      .legend Standardstartplatser
      %ul
        - for start_place in @organizer.start_places
          %li= start_place.point_number
      .legend Gemensam målgång
      %ul
        - for finish_place in @organizer.finish_places
          %li= finish_place.point_number
      .legend Arrangörskod i PoD
      %p
        =@organizer.external_id

    - if has_organizer_rights?
      %i.fa.fa-trophy(aria-hidden='true')
      = link_to 'Skapa ny regatta', new_regatta_path(:organizer_id => @organizer.id)

      %p
        %br
      %p

      =link_to 'Ändra', edit_organizer_path(@organizer), class: "btn btn-primary"

    - if has_admin_rights?
      %p
        %br
      %p= link_to 'Radera', @organizer, :method => :delete, :data => { :confirm => "Vill du radera #{@organizer.name}?" }


%h2 Regattor


%table#giona-regattas.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Regatta
      %th Perioder
      %th En starttid
      %th Öppen
  %tbody
    - @organizer.regattas.each do |regatta|
      %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{regatta_path(regatta)}';", :style => "cursor: pointer;"}
        %td= regatta.name
        %td
          - for race in regatta.races
            = race.period
        %td= l(regatta.races.first.start_from, format: :long)
        %td= "ja" if regatta.active

:javascript
  $(document).ready(function() {
  $('#giona-regattas').DataTable();
  } );
