.panel.panel-default
  .panel-heading
    %i.fas.fa-university(aria-hidden='true')
    = @organizer.name
  .panel-body

    .legend Arrangörens webbsida:
    %p
      %i.fas.fa-globe(aria-hidden='true')
      =link_to( @organizer.web_page, @organizer.web_page ) unless @organizer.web_page.blank?

    .legend Kontaktperson:
    %p
      %i.fas.fa-address-card(aria-hidden='true')
      = mail_to @organizer.email_from, "#{@organizer.name_from} #{'<'}#{@organizer.email_from}#{'>'}"

    - if has_assistant_rights?
      .legend Informera dessa funktionärer:
      %p
        %i.fa.fa-users(aria-hidden='true')
        = @organizer.email_to
      .legend Standardtext i i de mejl* som skickas ut till deltagare:
      .list-group-item
        %p.list-group-item-text
          = simple_format @organizer.confirmation
      %br
      %p
        *) Mejl skickas när skepparen skapar anmälan, lägger till gast, skickar in anmälan och när arrangören godkänner anmälan. I mejlen finns generell information om status på ansökan och länkar. Till det läggs den text som du formulerar här. Texten här fungerar som en mall som du anpassar för respektive regatta.

      %p
      .legend Standardstartplatser:
      %ul
        - for default_start in @organizer.default_starts
          - point = Point.find_by number: default_start.number
          %li= name_number point
      .legend Arrangörskod i PoD:
      %p
        =@organizer.external_id

    - if has_organizer_rights?
      %i.fa.fa-trophy(aria-hidden='true')
      = link_to 'Skapa ny regatta', new_regatta_path(:organizer_id => @organizer.id)
      %p
      .legend Länk för att anmäla sig till arrangörens regattor:
      %p
        %i.fas.fa-globe(aria-hidden='true')
        =link_to( races_url(:organizer_id => @organizer.id), races_url(:organizer_id => @organizer.id) )

      %p
        %br
      %p

      =link_to 'Ändra', edit_organizer_path(@organizer), class: "btn btn-primary"

    - if has_admin_rights?
      %p
        %br
      %p= link_to 'Radera', @organizer, :method => :delete, :data => { :confirm => "Vill du radera #{@organizer.name}?" }


%h2 Regattor


%table#giona-regattas.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Regatta
      %th Perioder
      %th Startdag(ar)
      %th Öppen
  %tbody
    - @organizer.regattas.each do |regatta|
      - if regatta.active? || has_assistant_rights?
        %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{regatta_path(regatta)}';", :style => "cursor: pointer;"}
          %td= regatta.name
          %td= regatta.races.pluck(:period).sort.join(', ')
          %td= race_starts regatta
          %td
            - if regatta.active?
              ja
            - else
              nej

:javascript
  $(document).ready(function() {
  $('#giona-regattas').DataTable(
  "order": [[ 0, 'asc' ]]
  );
  } );
