= bootstrap_form_for @leg do |f|
  = f.text_field :point_id
  = f.text_field :to_point_id
  = f.text_field :distance
  = f.text_field :offshore
  = f.text_field :version

  = f.submit "Spara", class: "btn"
