%h1 Listing legs

%table
  %thead
    %tr
      %th Point
      %th To point
      %th Distance
      %th Offshore
      %th Version
      %th
      %th
      %th

  %tbody
    - @legs.each do |leg|
      %tr
        %td= leg.point_id
        %td= leg.to_point_id
        %td= leg.distance
        %td= leg.offshore
        %td= leg.version
        %td= link_to 'Show', leg
        %td= link_to 'Edit', edit_leg_path(leg)
        %td= link_to 'Destroy', leg, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Leg', new_leg_path
