%p Hej!
%p Nu är din deltagaranmälan till #{@team.race.regatta.name} som arrangeras av #{@team.race.regatta.organizer.name} godkänd av oss funktionärer.
%p Du hittar anmälan här:
%p= link_to team_url(@team), team_url(@team)
%p Du kan återkomma, ändra och komplettera den.
%p Generell information om regattan du är anmäld till hittar du här:
%p= link_to regatta_url(@team.race.regatta), regatta_url(@team.race.regatta)
%p Systemet för att anmäla gastar är inte helt färdigutvecklat. Du får uppmana gastarna att registrera användarkonto. När detta är klart kan du lägga till dem som gastar i besättningen. I framtiden kommer gastarna att själva kunna anmäla att de vill segla med dig.
%p
= simple_format @team.race.regatta.confirmation
