= semantic_form_for @srs_class do |f|
  = f.inputs do
    = f.input :name
    = f.input :pdf_link
    = f.input :klassning
    = f.input :skl
    = f.input :b
    = f.input :d
    = f.input :depl
    = f.input :srs
    = f.input :srs_wo_fly
    = f.input :boat_class_id
    = f.input :version
    = f.input :version_name
    = f.input :import_description
    = f.input :handicap

  = f.actions do
    = f.action :submit, :as => :input
