%h1 Listing srs_classes

%table
  %thead
    %tr
      %th Name
      %th Pdf link
      %th Klassning
      %th Skl
      %th B
      %th D
      %th Depl
      %th Srs
      %th Srs wo fly
      %th Boat class
      %th Version
      %th Version name
      %th Import description
      %th Handicap
      %th
      %th
      %th

  %tbody
    - @srs_classes.each do |srs_class|
      %tr
        %td= srs_class.name
        %td= srs_class.pdf_link
        %td= srs_class.klassning
        %td= srs_class.skl
        %td= srs_class.b
        %td= srs_class.d
        %td= srs_class.depl
        %td= srs_class.srs
        %td= srs_class.srs_wo_fly
        %td= srs_class.boat_class_id
        %td= srs_class.version
        %td= srs_class.version_name
        %td= srs_class.import_description
        %td= srs_class.handicap
        %td= link_to 'Show', srs_class
        %td= link_to 'Edit', edit_srs_class_path(srs_class)
        %td= link_to 'Destroy', srs_class, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Srs class', new_srs_class_path
