%h1 Listing agreements

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @agreements.each do |agreement|
      %tr
        %td= agreement.name
        %td= agreement.description
        %td= link_to 'Show', agreement
        %td= link_to 'Edit', edit_agreement_path(agreement)
        %td= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Agreement', new_agreement_path
