= boostrap_form_for @log do |f|
  = f.text_field :team_id
  = f.text_field :time
  = f.text_field :user_id
  = f.text_field :client
  = f.text_field :log_type
  = f.text_field :point
  = f.text_field :data
  = f.text_field :deleted
  = f.text_field :gen

  = f.submit "Spara", class: "btn"
