= semantic_form_for @log do |f|
  = f.inputs do
    = f.input :team_id
    = f.input :time
    = f.input :user_id
    = f.input :client
    = f.input :log_type
    = f.input :point
    = f.input :data
    = f.input :deleted
    = f.input :gen

  = f.actions do
    = f.action :submit, :as => :input
