%h1 Listing logs

%table
  %thead
    %tr
      %th Team
      %th Time
      %th User
      %th Client
      %th Log type
      %th Point
      %th Data
      %th Deleted
      %th Gen
      %th
      %th
      %th

  %tbody
    - @logs.each do |log|
      %tr
        %td= log.team_id
        %td= log.time
        %td= log.user_id
        %td= log.client
        %td= log.log_type
        %td= log.point
        %td= log.data
        %td= log.deleted
        %td= log.gen
        %td= link_to 'Show', log
        %td= link_to 'Edit', edit_log_path(log)
        %td= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Log', new_log_path
