= bootstrap_form_for @boat do |f|
  = f.text_field :name
  = f.text_field :boat_type_name
  = f.text_field :sail_number
  = f.text_field :vhf_call_sign
  = f.text_field :ais_mmsi

  = f.submit "Spara", class: "btn"
