= semantic_form_for @boat do |f|
  = f.inputs do
    = f.input :name
    = f.input :boat_type_name
    = f.input :sail_number
    = f.input :vhf_call_sign
    = f.input :ais_mmsi

  = f.actions do
    = f.action :submit, :as => :input
