%h1 Alla b책tar

= link_to 'L채gg in en ny b책t', new_boat_path

= @boats.first.name
.panel.panel-default
  .panel-heading
    B책tar
  / /.panel-heading
  .panel-body
    %table#giona-boats.table.table-striped.table-bordered.table-hover{:width => "100%"}
      %thead
        %tr
          %th Namn
          %th Typ
          %th Segelnr
          %th VHF
          %th AIS
      %tbody
        - @boats.each do |boat|
          %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{boat_path(boat)}';", :style => "cursor: pointer;"}
            %td= boat.name
            %td
            %td= boat.sail_number
            %td= boat.vhf_call_sign
            %td= boat.ais_mmsi


:javascript
  $(document).ready(function() {
  $('#giona-boats').DataTable();
  } );  