%h1 
  %i.fa.fa-ship.fa-fw
  = @boat.name
%p
  %b Båttyp:
  = link_to(@boat.boat_class.name, @boat.boat_class) unless @boat.boat_class.nil?
%p
  %b Segelnummer:
  = @boat.sail_number
- unless @boat.vhf_call_sign.blank?  
  %p
    %b VHF-anrop:
    = @boat.vhf_call_sign
- unless @boat.ais_mmsi.blank?    
  %p
    %b AIS mmsi:
    = @boat.ais_mmsi


= link_to 'Edit', edit_boat_path(@boat)
\|
= link_to 'Back', boats_path
