%h1 
  %i.fa.fa-ship.fa-fw
  = @boat.name
%p
  %b Båttyp/handikapp:


%p
  %b Segelnummer:
  = @boat.sail_number
- unless @boat.vhf_call_sign.blank?  
  %p
    %b VHF-anrop:
    = @boat.vhf_call_sign
- unless @boat.ais_mmsi.blank?    
  %p
    %b AIS mmsi:
    = @boat.ais_mmsi
-unless @boat.teams.nil?
  %p
    %b Varit anmäld till    
  %ul
    - for team in @boat.teams
      %li= link_to team_in_regatta(team), team  

= link_to 'Edit', edit_boat_path(@boat)
\|
= link_to 'Back', boats_path
