= boostrap_form_for @handicap do |f|
  = f.text_field :name
  = f.text_field :sxk
  = f.text_field :expired_at
  = f.text_field :source
  = f.text_field :srs
  = f.text_field :registry_id
  = f.text_field :sail_number
  = f.text_field :boat_name
  = f.text_field :owner_name
  = f.text_field :external_system
  = f.text_field :external_id
  = f.text_field :type

  = f.submit "Spara", class: "btn"
