!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        = render 'layouts/navbar'

        .navbar-default.sidebar{:role => "navigation"}
          = render 'layouts/sidebar'

      / Page Content
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              - flash_messages
              = yield
            / /.col-lg-12
          / /.row
        / /.container-fluid
      / /#page-wrapper
    / /#wrapper
