!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Giona
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        = render 'layouts/navbar'

        .navbar-default.sidebar{:role => "navigation"}
          = render 'layouts/sidebar'

      / Page Content
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              - flash_messages
              = yield
            / /.col-lg-12
          / /.row
        / /.container-fluid
      / /#page-wrapper
    / /#wrapper
